<div class='table-responsive'>
  <table class="table table-dark">
    <thead>
      <tr>
        <th>List Name</th>
        <th>View List</th>
        <th>Add to List</th>
        <th>Delete List</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let temp of GroceryLists'>
        <td>
          {{temp.name}}
        </td>
        <td>
          <button class="btn btn-primary" (click)='viewList(temp.id)'>Go To {{temp.name}} </button>
        </td>
        <td>
          <button class="btn btn-primary" (click)='addItemToList(temp.id)'>Add Item</button>
        </td>
        <td>
          <button class="btn btn-primary" (click)='deleteList(temp.id)'>Delete List</button>
        </td>
    </tbody>
  </table>
</div>
