<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <!-- <a class="nav-link" href="/superheroes">Home <span class="sr-only">(current)</span></a> -->
        <a class="nav-link" routerLink="all-lists">Home <span class="sr-only">(current)</span></a>
      </li>
      
    </ul>
  </div>
</nav>
<!-- <app-hero-list></app-hero-list> -->
<router-outlet></router-outlet>
